@import url("//hello.myfonts.net/count/357ee9");
@font-face {
  font-family: 'Harbour-Light';
  src: url("../fonts/357EE9_0_0.eot");
  src: url("../fonts/357EE9_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/357EE9_0_0.woff2") format("woff2"), url("../fonts/357EE9_0_0.woff") format("woff"), url("../fonts/357EE9_0_0.ttf") format("truetype"); }

h1 {
  font-family: Harbour-Light, serif;
  font-size: 2.5rem;
  line-height: 1.2; }

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem; }

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: .8rem; }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed; }
  header a#logo {
    position: fixed;
    top: 20px;
    left: 18px;
    padding: 0 2px 4px 2px;
    overflow: hidden; }
    header a#logo #mLogo {
      fill: white; }
    header a#logo:after {
      content: "";
      position: absolute;
      top: 100%;
      width: 44px;
      height: 40px;
      background: -webkit-radial-gradient(bottom right, circle, #FF9400, #FF00D0, #8900FF);
      background: -o-radial-gradient(bottom right, circle, #FF9400, #FF00D0, #8900FF);
      background: radial-gradient(circle at bottom right, #FF9400, #FF00D0, #8900FF);
      background-blend-mode: multiply;
      z-index: -1;
      -webkit-transition: top 300ms cubic-bezier(0.63, 0, 0.37, 1);
      -o-transition: top 300ms cubic-bezier(0.63, 0, 0.37, 1);
      transition: top 300ms cubic-bezier(0.63, 0, 0.37, 1); }
    header a#logo:hover:after {
      top: -100%;
      -webkit-transition: top 500ms cubic-bezier(0.63, 0, 0.37, 1);
      -o-transition: top 500ms cubic-bezier(0.63, 0, 0.37, 1);
      transition: top 500ms cubic-bezier(0.63, 0, 0.37, 1); }
  header #menuButton {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden; }
    header #menuButton:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 80px;
      background: -webkit-radial-gradient(bottom right, circle, #FF9400, #FF00D0, #8900FF);
      background: -o-radial-gradient(bottom right, circle, #FF9400, #FF00D0, #8900FF);
      background: radial-gradient(circle at bottom right, #FF9400, #FF00D0, #8900FF);
      background-size: cover;
      z-index: -1;
      -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
      transform: translateY(40px);
      -webkit-transition: -webkit-transform 300ms cubic-bezier(0.63, 0, 0.37, 1);
      transition: -webkit-transform 300ms cubic-bezier(0.63, 0, 0.37, 1);
      -o-transition: transform 300ms cubic-bezier(0.63, 0, 0.37, 1);
      transition: transform 300ms cubic-bezier(0.63, 0, 0.37, 1);
      transition: transform 300ms cubic-bezier(0.63, 0, 0.37, 1), -webkit-transform 300ms cubic-bezier(0.63, 0, 0.37, 1); }
    header #menuButton #menuBar1,
    header #menuButton #menuBar2 {
      position: absolute;
      width: 24px;
      height: 2px;
      margin-left: 8px;
      margin-right: 8px;
      background-color: white; }
    header #menuButton #menuBar1 {
      top: 13px;
      -webkit-transition: top 250ms ease 250ms, -webkit-transform 250ms ease;
      transition: top 250ms ease 250ms, -webkit-transform 250ms ease;
      -o-transition: top 250ms ease 250ms, transform 250ms ease;
      transition: top 250ms ease 250ms, transform 250ms ease;
      transition: top 250ms ease 250ms, transform 250ms ease, -webkit-transform 250ms ease; }
      header #menuButton #menuBar1.animate {
        top: 19px;
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
        transform: rotateZ(45deg);
        -webkit-transition: top 250ms ease, -webkit-transform 250ms ease 250ms;
        transition: top 250ms ease, -webkit-transform 250ms ease 250ms;
        -o-transition: top 250ms ease, transform 250ms ease 250ms;
        transition: top 250ms ease, transform 250ms ease 250ms;
        transition: top 250ms ease, transform 250ms ease 250ms, -webkit-transform 250ms ease 250ms; }
    header #menuButton #menuBar2 {
      bottom: 13px;
      -webkit-transition: bottom 250ms ease 250ms, -webkit-transform 250ms ease;
      transition: bottom 250ms ease 250ms, -webkit-transform 250ms ease;
      -o-transition: bottom 250ms ease 250ms, transform 250ms ease;
      transition: bottom 250ms ease 250ms, transform 250ms ease;
      transition: bottom 250ms ease 250ms, transform 250ms ease, -webkit-transform 250ms ease; }
      header #menuButton #menuBar2.animate {
        bottom: 19px;
        -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotateZ(-45deg);
        -webkit-transition: bottom 250ms ease, -webkit-transform 250ms ease 250ms;
        transition: bottom 250ms ease, -webkit-transform 250ms ease 250ms;
        -o-transition: bottom 250ms ease, transform 250ms ease 250ms;
        transition: bottom 250ms ease, transform 250ms ease 250ms;
        transition: bottom 250ms ease, transform 250ms ease 250ms, -webkit-transform 250ms ease 250ms; }
  header #menuButton:hover:before {
    -webkit-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.63, 0, 0.37, 1);
    transition: -webkit-transform 500ms cubic-bezier(0.63, 0, 0.37, 1);
    -o-transition: transform 500ms cubic-bezier(0.63, 0, 0.37, 1);
    transition: transform 500ms cubic-bezier(0.63, 0, 0.37, 1);
    transition: transform 500ms cubic-bezier(0.63, 0, 0.37, 1), -webkit-transform 500ms cubic-bezier(0.63, 0, 0.37, 1); }
  header a#myName {
    position: fixed;
    bottom: 104px;
    left: -67px;
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotate(90deg);
    transform: rotateZ(90deg);
    font-family: 'Work Sans', sans-serif;
    font-size: .8rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center; }
  header #social {
    position: fixed;
    bottom: 20px;
    right: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    header #social a {
      color: white;
      margin: 10px 0;
      -webkit-transition: -webkit-transform 150ms ease;
      transition: -webkit-transform 150ms ease;
      -o-transition: transform 150ms ease;
      transition: transform 150ms ease;
      transition: transform 150ms ease, -webkit-transform 150ms ease; }
      header #social a:hover {
        -webkit-transform: scale3d(2, 2, 2);
        transform: scale3d(2, 2, 2);
        -webkit-transition: -webkit-transform 250ms ease;
        transition: -webkit-transform 250ms ease;
        -o-transition: transform 250ms ease;
        transition: transform 250ms ease;
        transition: transform 250ms ease, -webkit-transform 250ms ease; }

#menu {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: top 800ms cubic-bezier(0.35, 0, 0, 1) 250ms;
  -o-transition: top 800ms cubic-bezier(0.35, 0, 0, 1) 250ms;
  transition: top 800ms cubic-bezier(0.35, 0, 0, 1) 250ms; }
  #menu:before {
    content: "";
    position: absolute;
    top: -100vh;
    right: 50%;
    width: 1px;
    height: 100vh;
    background: -webkit-radial-gradient(bottom right, circle, #FF9400, #FF00D0, #8900FF);
    background: -o-radial-gradient(bottom right, circle, #FF9400, #FF00D0, #8900FF);
    background: radial-gradient(circle at bottom right, #FF9400, #FF00D0, #8900FF);
    z-index: -1;
    -webkit-transition: top 800ms cubic-bezier(0.54, 0, 0, 1) 50ms;
    -o-transition: top 800ms cubic-bezier(0.54, 0, 0, 1) 50ms;
    transition: top 800ms cubic-bezier(0.54, 0, 0, 1) 50ms; }
  #menu:after {
    content: "";
    position: absolute;
    top: 100vh;
    right: 0;
    width: 100%;
    height: .4vh;
    background: -webkit-radial-gradient(bottom right, circle, #FF9400, #FF00D0, #8900FF);
    background: -o-radial-gradient(bottom right, circle, #FF9400, #FF00D0, #8900FF);
    background: radial-gradient(circle at bottom right, #FF9400, #FF00D0, #8900FF);
    -webkit-transition: top 800ms cubic-bezier(0.35, 0, 0, 1) 250ms;
    -o-transition: top 800ms cubic-bezier(0.35, 0, 0, 1) 250ms;
    transition: top 800ms cubic-bezier(0.35, 0, 0, 1) 250ms; }
  #menu nav {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, rgba(0, 0, 0, 0.75)), color-stop(75%, rgba(0, 0, 0, 0.75)), to(transparent));
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.75) 75%, transparent 100%);
    background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.75) 75%, transparent 100%);
    background-image: linear-gradient(-180deg, transparent 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.75) 75%, transparent 100%);
    -webkit-transition: opacity 800ms ease;
    -o-transition: opacity 800ms ease;
    transition: opacity 800ms ease; }
    #menu nav a {
      overflow: hidden;
      -webkit-transition: -webkit-transform 100ms ease;
      transition: -webkit-transform 100ms ease;
      -o-transition: transform 100ms ease;
      transition: transform 100ms ease;
      transition: transform 100ms ease, -webkit-transform 100ms ease; }
      #menu nav a h1 {
        padding: 0;
        margin: 16px 0;
        text-transform: uppercase;
        letter-spacing: 4px;
        -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        transform: translateY(-200px);
        opacity: 0;
        -webkit-transition: opacity 800ms ease-in 50ms, -webkit-transform 800ms ease-in 50ms;
        transition: opacity 800ms ease-in 50ms, -webkit-transform 800ms ease-in 50ms;
        -o-transition: transform 800ms ease-in 50ms, opacity 800ms ease-in 50ms;
        transition: transform 800ms ease-in 50ms, opacity 800ms ease-in 50ms;
        transition: transform 800ms ease-in 50ms, opacity 800ms ease-in 50ms, -webkit-transform 800ms ease-in 50ms; }
      #menu nav a:hover {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        -o-transition: transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease; }
  #menu.animate {
    top: 0;
    -webkit-transition: top 1000ms cubic-bezier(0.54, 0, 0, 1);
    -o-transition: top 1000ms cubic-bezier(0.54, 0, 0, 1);
    transition: top 1000ms cubic-bezier(0.54, 0, 0, 1); }
    #menu.animate:before {
      top: 0;
      -webkit-transition: top 1000ms cubic-bezier(0.54, 0, 0, 1) 550ms;
      -o-transition: top 1000ms cubic-bezier(0.54, 0, 0, 1) 550ms;
      transition: top 1000ms cubic-bezier(0.54, 0, 0, 1) 550ms; }
    #menu.animate:after {
      top: 99.85vh;
      -webkit-transition: top 1000ms cubic-bezier(0.54, 0, 0, 1);
      -o-transition: top 1000ms cubic-bezier(0.54, 0, 0, 1);
      transition: top 1000ms cubic-bezier(0.54, 0, 0, 1); }
    #menu.animate nav {
      opacity: 1;
      -webkit-transition: opacity 1000ms ease 550ms;
      -o-transition: opacity 1000ms ease 550ms;
      transition: opacity 1000ms ease 550ms; }
      #menu.animate nav a h1 {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        -webkit-transition: opacity 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms, -webkit-transform 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms;
        transition: opacity 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms, -webkit-transform 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms;
        -o-transition: transform 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms, opacity 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms;
        transition: transform 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms, opacity 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms;
        transition: transform 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms, opacity 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms, -webkit-transform 1000ms cubic-bezier(0.01, 0.64, 0.6, 1.01) 550ms; }

body {
  background-color: #1E1C18;
  margin: 0;
  padding: 0; }

header {
  z-index: 100; }

#menu {
  z-index: 99; }

.temp {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 550ms ease 550ms;
  -o-transition: opacity 550ms ease 550ms;
  transition: opacity 550ms ease 550ms; }
  .temp h1 {
    color: white;
    margin-bottom: 10px; }
  .temp p {
    color: #4A4A4A;
    margin: 0; }
  .temp.animate {
    opacity: 0;
    -webkit-transition: opacity 550ms ease;
    -o-transition: opacity 550ms ease;
    transition: opacity 550ms ease; }
