@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700");

@import url("//hello.myfonts.net/count/3577b1");
@font-face {
  font-family: 'Harbour-Bold';
  src: url('../fonts/3577B1_1_0.eot');
  src: url('../fonts/3577B1_1_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/3577B1_1_0.woff2') format('woff2'),
       url('../fonts/3577B1_1_0.woff') format('woff'),
       url('../fonts/3577B1_1_0.ttf') format('truetype');}

$primary: #1E1C18; //dark gray
$secondary: #fff; //white
$highlight: #00FFCE; //mint
$gradient: radial-gradient(circle at bottom right, #FC8CFF, #E90000 50%, #7C00FF 100%);

@import './partials/textStyles';
@import './partials/header';
@import './partials/projectThumb';
@import './partials/projectPage';

body {
  background-color: $primary;
  margin: 0;
  padding: 0;
}

.hero#landingPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #wip {
    width: 40vw;
  }

  a.btn {
    position: absolute;
    width: 120px;
    bottom: 36px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

a.btn {
  padding: 8px 16px;
  overflow: hidden;
  background-color: $highlight;

  font-family: 'Work-Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  color: $primary;
}
