@import url("//hello.myfonts.net/count/357ee9");

@font-face {
  font-family: 'Harbour-Light';
  src: url('../fonts/357EE9_0_0.eot');
  src: url('../fonts/357EE9_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/357EE9_0_0.woff2') format('woff2'),url('../fonts/357EE9_0_0.woff')
  format('woff'),url('../fonts/357EE9_0_0.ttf') format('truetype');
}

$primary: #1E1C18;
$secondary: black;
$textPrimary: white;
$textSecondary: #4A4A4A;
$highlighter: #00FFCE;
$linearGradient: linear-gradient(-45deg, #FC8CFF 0%, #E90000 50%, #7C00FF 100%);
$radialGradient: radial-gradient(circle at bottom right, #FC8CFF, #E90000, #7C00FF);

@import './partials/textStyles';
@import './partials/header';
@import './partials/menu';

body {
  background-color: $primary;
  margin: 0;
  padding: 0;
}

//z-index
header {z-index: 100;}
#menu {z-index: 99;}

.tempDesktop {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  video {
    height: 100vh;
  }
}
