$barWidth: 40px;
$barThickness: 2px;
$barNormal: #413f41;
$barAfter: gray;
$body: White;
$barSpace: 9px;

@import './partials/header';
@import './partials/toggleNav';

//z-index
header { z-index: 100; }
nav { z-index: 99; }
img { z-index: 97; }

//text-styles
h1 {
  font-family: sans-serif;
  font-size: 3rem;
  margin: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

//--------------
.filler {
  width: 100% auto;
  height: 768px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 80px 88px 80px;
  margin-bottom: 150px;


  .project {
    width:100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 20px 80px grey;
    z-index: -1;
    background: url("https://static.pexels.com/photos/722218/pexels-photo-722218.jpeg");
    background-size: cover;
    transition: transform 350ms ease 350ms;

    display: flex;
    align-items: center;
    justify-content: center;

    &.animate {
      transform: scale3d(.5,.5,.5);
      opacity: .5;
      transition: transform 350ms ease, opacity 350ms ease;
    }
  }
}
