header {
  position: fixed;

  //logo
  #logo {
    position: fixed;
    top: 20px;
    left: 20px;
    transition: transform 150ms ease;

    &:hover {
      transform: scale3d(1.3, 1.3, 1.3);
      transition: transform 250ms ease;

      svg {
        fill: $barAfter;
        transition: all 550ms ease;
      }
    }

    svg {
      width: 40px;
      height: 40px;
      fill: $barNormal;
      transition: fill 250ms ease;
    }

    &.animate {
      svg {
        fill: white;
        transition: fill 250ms ease 600ms;
      }
    }
  }

  //menu icon
  #menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    transition: transform 150ms ease;
    cursor: pointer;

    &:hover {
      transform: scale3d(1.3, 1.3, 1.3);
      transition: transform 250ms ease;
    }

    &.animate {
      #menuBar1:after,
      #menuBar2:after,
      #menuBar3:after {
        content: "";
        background-color: white;
        transition: 0 ease 600ms;
      }

      #menuBar1:before,
      #menuBar2:before,
      #menuBar3:before {
        content: "";
        background: black;
      }
    }


    #menuBar1,
    #menuBar2,
    #menuBar3, {
      position: absolute;
      left: 4px;
      width: 32px;
      height: $barThickness;
      background-color: $barAfter;
      margin: 0 auto;
    }

    #menuBar1:before,
    #menuBar2:before,
    #menuBar3:before {
      content: "";
      position: absolute;
      width: 0;
      background: $body;
      height: $barThickness;
      transition: width 150ms ease;
    }

    #menuBar1:after,
    #menuBar2:after,
    #menuBar3:after {
      content: "";
      position: absolute;
      width: 0;
      background-color: $barNormal;
      height: $barThickness;
    }

    #menuBar1 {
      top: $barSpace;
      transition: top 100ms ease 200ms,
                  background-color 150ms ease,
                  transform 100ms ease;

      &.animate {
        top: 19px;
        background-color: white;
        transform: rotateZ(45deg);
        transition: top 150ms ease,
                    background-color 150ms ease,
                    transform 150ms ease 300ms;
      }
    }

    #menuBar2 {
      top: 19px;
      transition: opacity 100ms ease;

      &.animate {
        opacity: 0;
        transition: opacity 150ms ease;
      }
    }

    #menuBar3 {
      bottom: $barSpace;
      transition: bottom 100ms ease 200ms,
                  background-color 150ms ease,
                  transform 100ms ease;

      &.animate {
        bottom: 19px;
        background-color: white;
        transform: rotateZ(-45deg);
        transition: bottom 150ms ease,
                    background-color 150ms ease 300ms,
                    transform 150ms ease 300ms;
      }
    }

    #menuBar1:before { transition: width 150ms ease; }
    #menuBar2:before { transition: width 150ms ease 50ms; }
    #menuBar3:before { transition: width 150ms ease 100ms; }

    #menuBar1:after { transition: width 250ms ease 100ms; }
    #menuBar2:after { transition: width 250ms ease 150ms; }
    #menuBar3:after { transition: width 250ms ease 200ms; }

    //bar hover animation
    &:hover {
      #menuBar1:before { width: 100%; transition: width 150ms ease; }
      #menuBar2:before { width: 100%; transition: width 150ms ease 50ms; }
      #menuBar3:before { width: 100%; transition: width 150ms ease 100ms; }

      #menuBar1:after { width: 100%; transition: width 250ms ease 50ms; }
      #menuBar2:after { width: 100%; transition: width 250ms ease 100ms; }
      #menuBar3:after { width: 100%; transition: width 250ms ease 150ms; }
    }
  }

  //social icons
  #socialIcons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: $barNormal;

      i {
        display: block;
        text-align: center;
        padding: 10px 10px;
        margin: 5px 0;
        border-radius: 150px;
        transition: all 150ms ease;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          transform: scale3d(1.5, 1.5, 1.5);
          color: $barAfter;
          transition: all 250ms ease;
        }
      }
    }

    i {
      display: block;
      text-align: center;
      padding: 10px 10px;
      margin: 5px 0;
      border-radius: 150px;
      color: $barNormal;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  //message
  #message {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    color:white;

    a {
      text-decoration: none;
      i {
        display: block;
        text-align: center;
        padding: 10px 10px;
        border-radius: 150px;
        color: $barNormal;
        transition: all 150ms ease;

        &:hover {
          transform: scale3d(1.5, 1.5, 1.5);
          color: $barAfter;
          transition: all 250ms ease;
        }
      }
    }
  }
}
