header {
  position: fixed;

  //logo
  a#logo {
    position: fixed;
    top: 20px;
    left: 18px;
    padding: 0 2px 4px 2px;
    overflow: hidden;

    #mLogo {
      fill: $textPrimary;
    }

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      width: 44px;
      height: 40px;
      background: $highlighter;
      background-blend-mode: multiply;
      z-index: -1;
      transition: top 300ms cubic-bezier(.63,0,.37,1);
    }

    &:hover:after {
      top: -100%;
      transition: top 500ms cubic-bezier(.63,0,.37,1);

    }
  }

  //menu button
  #menuButton {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 80px;
      background: $highlighter;
      background-size: cover;
      z-index: -1;
      transform: translateY(40px);
      transition: transform 300ms cubic-bezier(.63,0,.37,1);
    }

    #menuBar1,
    #menuBar2 {
      position: absolute;
      width: 24px;
      height: 2px;
      margin-left: 8px;
      margin-right: 8px;
      background-color: $textPrimary;
    }

    #menuBar1 {
        top: 13px;
        transition: top 250ms ease 250ms, transform 250ms ease;

        &.animate {
          top: 19px;
          transform: rotateZ(45deg);
          transition: top 250ms ease, transform 250ms ease 250ms;
        }
      }

    #menuBar2 {
        bottom: 13px;
        transition: bottom 250ms ease 250ms, transform 250ms ease;

        &.animate {
          bottom: 19px;
          transform: rotateZ(-45deg);
          transition: bottom 250ms ease, transform 250ms ease 250ms;
        }
      }
  }

  #menuButton:hover:before {
    transform: translateY(-80px);
    transition: transform 500ms cubic-bezier(.63,0,.37,1);
  }

  //name
  a#myName {
    position: fixed;
    bottom: 104px;
    left: -67px;
    transform: rotateZ(90deg);

    font-family: 'Work Sans', sans-serif;
    font-size: .8rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
  }

  //social icons
  #social {
    position: fixed;
    bottom: 20px;
    right: 24px;
    display: flex;
    flex-direction: column;

    a {
      color: $textPrimary;
      margin: 10px 0;
      transition: transform 150ms ease;

      &:hover {
        transform: scale3d(2,2,2);
        transition: transform 250ms ease;
      }
    }
  }
}
