.hero {
  width: 100% auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  //boxes
  .box {
    display: flex;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    //BOX A
    &.a {
      background: $gradient;

      h2 {
        color: white;
        text-align: center;
      }
    }

    //BOX B
    &.b {
      background-color: white;

      h1 {
        letter-spacing: 5px;
        margin-bottom: 4px;
      }

      @media screen and (max-width: 480px) {
        padding-bottom: 10%;
      }

      h1 {
        transform: translateX(4px);
      }

      .line {
        background-color: $lightGray;
        width: 220px;
        height: 1px;
        margin: 0;
        padding: 0;
        transform: translateY(6px);
      }

      p {
        text-align: center;
        width: 320px;

        @media screen and (max-width: 480px) {
          line-height: 1.5rem;
        }

        @media screen and (max-width: 330px) {
          width: 300px;
        }
      }
    }
  }
}
