.projectThumb {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  a.previous, a.next {
    font-family: 'Work-Sans', sans-serif;
    font-weight: 300;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    color: gray;
  }

  //previous project text
  a.previous {
    position: absolute;
    top: 37px;
  }

  //next project text
  a.next {
    position: absolute;
    bottom: 37px;
  }

  //Project Image
  .projectThumbImg {
    position: absolute;
    width: 76vw;
    height: 76vh;
    opacity: .2;
    z-index: -1;
    box-shadow: 0 0 40px 10px #000;

    @media only screen and (max-width: 640px) {width: 100vw; height: 100vh;}
  }

  //Description
  .projectThumbText {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //Button
    a.projectThumbBtn {
      height: 40px;
      padding: 0 16px;
      background-color: $highlight;
      display: flex;
      align-items: center;

      font-family: 'Work-Sans', sans-serif;
      font-weight: 400;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      color: $primary;
    }
  }
}

#project1Thumb {
  background-image: url("../assets/img/index/dl_thumb_desktop.jpg");
  background-position: center;
}

#project2Thumb {
  background-image: url("../assets/img/index/mc_thumb_desktop.jpg");
  background-position: bottom right;
}

#project3Thumb {
  background-image: url("../assets/img/index/spr_thumb_desktop.jpg");
  background-position: bottom center;
}

#project4Thumb {
  background-image: url("../assets/img/index/rs_thumb_desktop.jpg");
  background-position: center;
}
