.scroll {
  position: absolute;
  bottom: 20px;
  width: 100vw;
  text-align: center;
  margin: auto;
  mix-blend-mode: difference;
  opacity: 0;
  color: $secondary;
  z-index: 99;
  animation-name: scroll;
  animation-duration: 5000ms;
  animation-timing-function: ease;
}

.projectImg {
  width: 76vw;
  height: 76vh;
  margin: 12vh 12vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 60px 0px rgba(0,0,0,1);

  @media only screen and (max-width: 640px) {width: 100vw; height: 100vh; margin:0;}

  img {
    height: 100%;
  }

  video {
    height: 100%;
  }
}

.projectImgGrid {
  width: 76vw;
  margin: 12vh 12vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;

  @media only screen and (max-width: 802px) {width: 100vw; margin:0;}

  img {
    width: 36vw;
    margin: 1vw 1vh;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);

    @media only screen and (max-width: 802px) {width: 100vw; margin:0;}
  }
}

.projectInfo {
  width: 420px;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h3 {
    letter-spacing: 2px;
  }

  @media only screen and (max-width: 640px) {width: 280px; margin:12vh auto;}
}

a#backToHome {
  font-family: 'Work-Sans', sans-serif;
  font-weight: 400;
  font-size: .75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  margin: 20px auto 36px auto;
  color: $highlight;
}

#deltaProjectHeroImg {
  animation-name: fadeIn;
  animation-duration: 2000ms;
  animation-timing-function: ease;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scroll {
  0%   { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
