

#toggleNav {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 5vh;
  background-color: $barNormal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: width 350ms ease 0ms,
              left 350ms ease 0ms,
              background-color 550ms ease 0ms,
              height 150ms ease 550ms;

  @media screen and (max-width: 768px) {
    height: 7vh;
  }

  &.animate {
    height: 100vh;
    width: 100%;
    left: 0;
    opacity: .95;
    background-color: black;
    transition: height 350ms ease 0ms,
                width 550ms ease 350ms,
                left 550ms ease 350ms,
                background-color 750ms ease 350ms;
  }
}

nav {
  opacity: 0;
  margin-top: 100px;
  color: white;

  &.animate{
    opacity: 1;
    margin-top: 0px;
    transition: opacity 750ms ease 550ms,
                margin-top 750ms ease 550ms;
  }
}
